* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    width: 100%;
}

#s1,
#s2,
#s3 {
    margin-top: 5vh;
}

#s3{
    padding: 6vw;
}

.carousel, .accordion {
    width: 800px;
}

@media (width <=1000px) {

    #s1,
    #s2,
    #s3 {
        margin-top: 0;
    }

    .carousel, .accordion {
        width: 100vw;
    }
}